
body {

    background: black;
}

#map_button {
    position: fixed;
    bottom: 4%;
    margin-left: -15px;
    left: 50%;
}



.discount_title {
    color: black;
    margin: 10px;
    position: absolute;
    right: 0px;
    top: 0px;
}
.cafe_benefit{
    text-shadow:
            -3px 0px 3px white,
            3px 0px 3px white,
            6px 0px 6px white,
            -6px 0px 6px white;
}

.main_title {
    color: white;
    margin: 10px;
    position: absolute;
    left: 0px;
    bottom: 0px;

}

.main_title_background {
    line-height: 80%;
    height: 200px;
    position: relative;
    padding: 0;
    background-size: 100%;
}

.main_dim {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
    height: 200px;
}

.main_layer {
    margin-bottom: 15px;
    margin-right: 10px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: white;
}

.main_info {
    font-size: 70%;
}

.main_final_price {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-size: 200%;
}
.main_price{
    margin-right: 3px;
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-size: 100%;
}

.cafe_title {
    letter-spacing: 2px;
    font-family: 'Jeju Gothic';
    font-style: normal;
}
.cafe_road{
    font-family: 'Jeju Gothic';
    font-style: normal;
}

.navbar-left {
    float: left;
    margin-left: 15px;
    padding: 6px 10px;
}

.store_detail_infomation {
    color: white;
}

.store_detail_infomation_layer {
    background: black;
}

.store_detail_info_title {
    font-family: 'Nanum Gothic Coding';
    color: lightgrey;
}

.table {
    color: white;
}

.bottom_table td {
    text-align: center;
}

.store_detail_map {
    width: 100%;
    height: 100px;
}

.store_map {
    width: 100%;
    height: 100%;
}

footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #f4511e;
}

.tales {
    width: 100%;
}
.carousel-inner{
    width:100%;
    max-height: 260px !important;
}



.fixbar {
    z-index: 2;
    background: url("/resources/img/main_top.jpg") no-repeat;
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    height: 200px;
    background-size: 100%;
    text-align:center;
}
.main {
    z-index: 4;
     margin-top: 200px; /* Add a top margin to avoid content overlay */
 }
.center_title{
    line-height:2.1em;
    margin-top: 50px;
    width:100%; height:50px;
}


.glyphicon.glyphicon-info-sign {
    font-size: 20px;
    margin : 15px;
    position: fixed;
    top: 0;
    right: 0;
    color: rgba(256, 256, 245, 0.8);
}