
body {
    padding-top: 40px;
    background: black;
}

#map_button {
    position: fixed;
    bottom: 4%;
    margin-left: -15px;
    left: 50%;
}
.main_title {

    -webkit-text-fill-color:transparent;
    color:transparent;
    background-image: url(/resources/img/title_back.jpg);
    -webkit-background-clip: text;
    background-clip: text;
    font-weight:bold;
    font-size:34px;
    line-height:50px;

}